/* Style the payment form */
#businesspay_payment_form {
    padding-top: 0px !important;
}


/* Style the tab */
#businesspay_payment_form .businesspay-tab {
    overflow: hidden;
    margin-top: 20px;
}


/* Style the buttons that are used to open the tab content */
#businesspay_payment_form .businesspay-tab .businesspay-tablinks {
    background-color: inherit;
    color: #ab2849;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
    border-radius: 5px 5px 0px 0px;
    margin-right: 1px;
    margin-top: 1px;
}


/* Hover effect */
#businesspay_payment_form .businesspay-tab .businesspay-tablinks:hover {
    background-color: #ab2849;
    color: #fff;
}


/* Create an active and current tablink class */
#businesspay_payment_form .businesspay-tab .businesspay-tablinks.active {
    background-color: #ab2849;
    color: #fff;
}


/* Style the tab content */
.businesspay-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    animation: businesspayEffect .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}


/* Style the input fields */
.businesspay-tabcontent input {
    color: #ab2849 !important;
    box-shadow: inset 0 1px 1px rgb(171, 40, 73) !important;
}


/* Style the BANK TRANSFER content */
#businesspay_content_transfer ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

#businesspay_content_transfer ul li {
    border: none;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
}

#businesspay_content_transfer ul li label {
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
}

#businesspay_content_transfer ul li input[type=radio] {
    display: none;
}

#businesspay_content_transfer ul li i {
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

#businesspay_content_transfer ul li #businesspay-icon-itau {
    background-color: transparent;
    background-image: url(../../assets/img/businesspay-checkout-icon-itau-pb.png);
    background-repeat: no-repeat;
}

#businesspay_content_transfer ul li #businesspay-icon-bradesco {
    background-color: transparent;
    background-image: url(../../assets/img/businesspay-checkout-icon-bradesco-pb.png);
    background-repeat: no-repeat;
}

#businesspay_content_transfer ul li #businesspay-icon-itau:hover,
#businesspay-transfer-itau-li.active i {
    background-image: url(../../assets/img/businesspay-checkout-icon-itau.png) !important;
}

#businesspay_content_transfer ul li #businesspay-icon-bradesco:hover,
#businesspay-transfer-bradesco-li.active i {
    background-image: url(../../assets/img/businesspay-checkout-icon-bradesco.png) !important;
}

li#businesspay-transfer-itau-li:hover i,
li#businesspay-transfer-bradesco-li:hover i {
    transition: all .3s;
}

.businesspay-transfer-p {
    padding: 1em;
}


/* Style the BILLET content */
#businesspay_content_billet ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

#businesspay_content_billet ul li {
    border: none;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
}

#businesspay_content_billet ul li label {
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
}

#businesspay_content_billet ul li input[type=radio] {
    display: none;
}

#businesspay_content_billet ul li i {
    background-color: transparent;
    background-image: url(../../images/transparent-checkout-icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

#businesspay_content_billet ul li #businesspay-icon-itau {
    background-color: transparent;
    background-image: url(../../assets/img/businesspay-checkout-icon-itau-pb.png);
    background-repeat: no-repeat;
}

#businesspay_content_billet ul li #businesspay-icon-bradesco {
    background-color: transparent;
    background-image: url(../../assets/img/businesspay-checkout-icon-bradesco-pb.png);
    background-repeat: no-repeat;
}

#businesspay_content_billet ul li #businesspay-icon-itau:hover,
#businesspay-billet-itau-li.active i {
    background-image: url(../../assets/img/businesspay-checkout-icon-itau.png) !important;
}

#businesspay_content_billet ul li #businesspay-icon-bradesco:hover,
#businesspay-billet-bradesco-li.active i {
    background-image: url(../../assets/img/businesspay-checkout-icon-bradesco.png) !important;
}

li#businesspay-billet-itau-li:hover i,
li#businesspay-billet-bradesco-li:hover i {
    transition: all .3s;
}

.businesspay-billet-p {
    padding: 1em;
}


/* Style the payment locale info line */
.businesspay-pay-locale {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}


/* Style the Brazilian flag image */
.businesspay-brazil-flag {
    display: inline !important;
    float: none !important;
    vertical-align: middle !important;
    border: none !important;
}

.businesspay-antifraud-icon,
.businesspay-secure-icon{
    height: 20px;
}

#businesspay_payment_form .form-row input {
    font-size: 1.2em !important;
}

#businesspay_installments {
    height: 42px;
}


/* Effect to smooth actions */
@keyframes businesspayEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    #payment .payment_methods li .payment_box fieldset label {
        font-size: 10px !important;
    }
}

@media (min-width: 801px) and (max-width: 1070px) {
    #payment .payment_methods li .payment_box fieldset label {
        font-size: 11px !important;
    }
}

@media (min-width: 300px) and (max-width: 400px),
(min-width: 768px) and (max-width: 1000px) {
    .businesspay-tablinks {
        padding-left: 8px !important;
        padding-right: 8px !important;
        font-size: 11.5px !important;
    }
}